<div class="article__image_top-container">
  <img class="article__image_top" src="images/head_pic.jpg" alt="" />
</div>

<div class="wrapper article-wrapper">

    <div class="article__news-panel_right">
      <div class="fb-widget"></div>
      <%- include('../common/news-item') %>
      <%- include('../common/news-item_special') %>
      <%- include('../common/news-item_no-photo_special') %>
    </div>

    <article class="article__column-wrapper clearfix">
      <h1 class="article__title">
        От самолетных ламп к «лампочке томича»: ТЭЛЗ и его истории
      </h1>
      <div class="article__social-button_share-container">
        <%- include('../common/social-button_share-container') %>
      </div>
      <div class="article__author">
        <img class="article__author__photo" src="images/persons/Kajgorodova_K.jpg" alt="Катерина Кайгородова" />
        <span class="article__author__name">Катерина Кайгородова</span>
      </div>
      <h3 class="article__subtitle">
        В этом году «большой» томской промышленности исполняется 75 лет.
        Официальный отсчет ведется с 1941 года, когда после начала Великой Отечественной войны
        в Томск были эвакуированы крупные столичные предприятия.</h3>
      <p class="article__paragraph">В нашем новом спецпроекте «Томская промышленность» рассказываем о крупнейших предприятиях региона.
        Часть из них — наследники перевезенных предприятий, часть — родились и росли в Сибири, но все они полны интересных людей и историй.</p>
      <p class="article__paragraph">Первое предприятие серии — Томский электроламповый завод, когда-то стартовавший выпуском самолетных ламп для фронта,
        а сегодня изготавливающий «лампочку томича».</p>
      <p class="article__paragraph">Сейчас из первопроходцев, которые строили завод и работали на нем в годы войны, осталось в живых 15 человек.
        У одной из них, Марии Антоновны Мельниковой, отработавшей на заводе более 40 лет,
        мы побывали в гостях и записали рассказ о том далеком времени, когда «Лампочка» была еще молодой.</p>

      <section class="article__section">
        <h2 class="article__section-title">
          «Шесть часов учились, шесть часов работали».<br/>
          Истории от ветерана завода Марии Мельниковой
        </h2>
        <div class="news-item__divider"></div>
        <div class="article__quote-container">
          <div class="article__quote quote">
            <span class="quote__first-letter">Н</span>
            <span class="quote__text">а завод я пришла в 1944 году, мне тогда шел семнадцатый год.
              До этого я жила с родителями в деревне Ломовицк Первомайского района. Окончила семь классов.
              Помню, всех учеников заставили хлеб убирать, потому что зима уже наставала.
              А лошадей не было, на бычках, на коровах возили снопы, складывали в скирды.
              Меня корова затащила в кусты, а руки-то молодые, веревкой до крови стерла, пока ее из этих кустов вытянуть пыталась.
              Плачу и думаю: «Хоть бы меня в ФЗУ (школа фабрично-заводского ученичества — прим. ред.) взяли».
              Возвращаюсь домой, а мне повестка в ФЗУ. Приехала женщина от завода, нас двоих с подружкой забрала.
              Поселили в общежитие (находилось недалеко от пересечения проспекта Кирова и улицы Студенческой — прим. ред.).</span>
          </div>
        </div>
        <p class="article__paragraph">
          Днем мы по 6 часов учились в ФЗУ. У нас была военная подготовка: политзанятия, строевая, и медицине обучали.
          А еще по шесть часов работали на заводе. Мы старые лампы ремонтировали: прокалывали их, мыли, сушили, вдевали новые спирали.
          Работа тяжелая. Летом жарко, дышать нечем.</p>
          <div class="article__quote-container">
            <div class="article__quote quote">
              <div class="quote__author clearfix">
                <img class="quote__author__photo" src="images/persons/Petlina_N.jpg" alt="Надежда Петлина" />
                <p class="quote__author__info">
                  <span class="quote__author__name">Надежда<br/>Петлина</span><br/>
                  <span class="quote__author__position">председатель Совета ветеранов ТЭЛЗ</span>
                </p>
              </div>
              <span class="quote__first-letter">К</span>
              <span class="quote__text">огда я в 1965 году пришла на завод, наши с Марией Антоновной линейки стояли рядышком.
                Она была лучшим специалистом. Настолько все делала искусно, что у нее ничего не трескалось, не выбрасывалось в брак.
                Если уж они перегоревшую лампу оживляли, то «ножку», которая на пол упала, подберут обязательно.
                Ее можно наладить, вновь запаять.</span>
                <p class="quote__text">А еще Мария Антоновна всегда была очень скромной, положительной. Никогда не нагрубит, если спросишь совета — подойдет, расскажет.</p>
                <p class="quote__text">Ее портреты часто висели на досках почета. Тогда это была очень большая честь.
                  Надо было не только хорошо работать, а еще и общественную нагрузку нести.
                  А портреты самых лучших работников вывешивали на доске почета возле завода.</p>
            </div>
          </div>
        </section>
        <section class="article__section">
          <h2 class="article__section-title">
            «Мы выкарабкались»<br/>
            Истории от директора завода Владислава Голубева
          </h2>
          <div class="news-item__divider"></div>
          <p class="article__paragraph">Днем рождения Томского электролампового завода считается 15 декабря 1941,
            когда здесь была выпущена первая партия самолетных ламп.</p>
          <p class="article__paragraph">В советское время это было крупное промышленное предприятие, занимавшее целый квартал.
            Здесь выпускали около ста наименований ламп накаливания — от ламп для рыболовецких траулеров до елочных гирлянд.
            Все было, как у других крупных предприятий того времени: надежность, стабильность, социальная защищенность.</p>
          <div class="article__reference">
            <%- include('reference') %>
          </div>
          <p class="article__paragraph">В 90-е годы «лампочку» также постигла печальная участь большинства советских заводов,
            и к 2011 году предприятие оказалось перед угрозой закрытия,
            за долги лишившись большей части своего имущества и производственных площадей.</p>
          <p class="article__paragraph">В 2012 году предприятие пережило фактически вторую эвакуацию,
            когда оставшиеся станки буквально на руках перенесли в корпус на улице Усова, который еще принадлежал заводу.
            Здесь без остановки производства сделали ремонт, освоили выпуск новых видов продукции,
            в частности — светодиодных ламп бытового назначения, и планируют работать и развиваться дальше.</p>

            <div class="article__quote-container">
              <div class="article__quote quote">
                <div class="quote__author clearfix">
                  <p class="quote__author__info">
                    <span class="quote__author__name">Владислав Голубев</span><br/>
                    <span class="quote__author__position">директор ТЭЛЗ</span>
                  </p>
                </div>
                <span class="quote__first-letter">К</span>
                <span class="quote__text">огда имущественный комплекс предприятия
                  по процедуре банкротства был продан лицам, не заинтересованным в развитии производства, выбор был прост:
                  либо смириться с ситуацией и распродать остатки активов, либо, положившись на Божью волю,
                  выкарабкаться и получить шанс для дальнейшего развития. Мы выкарабкались, — рассказывает Генеральный директор
                  Томского электролампового завода Владислав Голубев. —
                  Сейчас у нас очень высокий коэффициент использования оборудования и существенно возросшая производительность труда, которая,
                  наверное, по многим показателям превосходит большинство предприятий в мире, при сопоставлении с аналогами оборудования.
                  Хотя в некоторых случаях мы иногда состязаемся и с более производительным оборудованием.</span>
              </div>
            </div>

            <div class="news-item__divider"></div>
            <p class="article__paragraph article__paragraph_big">
              У нас в планах уже есть небольшой проект под условным названием «Город мастеров».
            </p>
            <div class="news-item__divider"></div>
            <p class="article__paragraph">Тут Голубев вспоминает про Мурано — известный итальянский остров, населенный стеклодувами,
              куда не скудеет поток туристов:</p>
            <img class="article__picture" src="images/lamps.jpg" alt="" />
            <p class="article__paragraph">— У нас в планах уже есть небольшой проект под условным названием «Город мастеров».
              Чтобы прямо на глазах у покупателей мастера делали сувениры из стекла, чтобы люди и сами могли попробовать себя в роли стеклодувов,
              или приобрести понравившуюся вещь. У нас для этого есть и помещение с отдельным входом, и небольшая стекловаренная печь.
              Сами не потянем: не хватит ни средств, ни ресурсов. Но если появится предприимчивый, трезвый человек,
              готовый воплотить эту идею в жизнь, мы готовы участвовать.</p>
            <div class="article__fact-container fact-container clearfix">
              <img class="fact__picture" src="images/vintage_lamps.jpg" alt="" />
              <p class="fact__content">Винтажные лампы накаливания сегодня продаются по 200 рублей.
                  Для нас, конечно, дело мелкое, мы-то миллионами делаем. Поэтому хорошо, если бы нашлась группа людей,
                  которые бы осваивали нишевые производства и использовали наши возможности предоставления ресурсов, услуг, обработки.</p>
            </div>
          </section>
          <section class="article__section">
            <h2 class="article__section-title">
              В итоге
            </h2>
            <div class="news-item__divider"></div>
            <p class="article__paragraph">Я убежден, что стране нужно сохранять свое присутствие на тех рынках,
              которые были завоеваны усилиями предыдущих поколений. Часто говорят, что какое-то предприятие проще снести и построить новое.
              Но как правило, старое уничтожается, а новое не появляется. Вот так прекратил свое существование электроламповый завод в Уфе,
              который какое-то время входил в один холдинг с нашим. Те лампы, которые мог бы производить этот завод,
              теперь закупаются за рубежом — на деньги, которые мы заработали продажей ресурсов.
              Считаю, что такой обмен совершенно неадекватен, и в результате мы имеем провал в экономике. Эту тенденцию нужно сломать.</p>
          </section>
    </article>
</div>

<div class="article__social-container">
  <div class="wrapper clearfix">
    <div class="article__social-button_share-container">
      <%- include('../common/social-button_share-container') %>
    </div>
    <form class="article__subscribe-form subscribe-form">
      <div class="subscribe-form__input-container clearfix">
        <input class=" subscribe-form__email" type="text" name="email" placeholder="Введите Вашу почту">
        <button class="subscribe-form__button"><span>Подписаться на дайджест</span></button>
      </div>
      <p class="subscribe-form__terms">Раз в неделю наши лучшие материалы в вашей почте, без надоедливого спама.</p>
      <a href="#" class="subscribe-form__terms__link">Условия конфиденциальности</a></p>
    </form>
  </div>
</div>

<div class="wrapper">
  <div class="news-item-wrapper article__news-panel_bottom clearfix">
  <div class="news-item__divider"></div>
  <% for (var i=0; i<2; i++) { %>
      <%- include('../common/news-item') %>
      <%- include('../common/news-item_special') %>
      <%- include('../common/news-item_no-photo_special') %>
  <% } %>
  </div>
  <div class="news-item__divider"></div>
</div>
