<img class="article-image" src="images/head_pic.jpg" alt="" />

<div class="clearfix">
    <%- include('../common/aside') %>

    <article class="article clearfix">
            <h1>От самолетных ламп к «лампочке томича»: ТЭЛЗ и его истории</h1>

            <%- include('./social-buttons') %>

            <%- include('./new/author') %>

            <p>
                В этом году «большой» томской промышленности исполняется 75 лет.
                Официальный отсчет ведется с 1941 года, когда после начала Великой Отечественной войны
                в Томск были эвакуированы крупные столичные предприятия.
            </p>

            <p>В нашем новом спецпроекте «Томская промышленность» рассказываем о крупнейших предприятиях региона.
                Часть из них — наследники перевезенных предприятий, часть — родились и росли в Сибири, но все они полны интересных людей и историй.</p>


            <div class="slider">
                <img src="http://i.kinja-img.com/gawker-media/image/upload/y6k2hs8svqdlp9vvewxt.jpg" alt="" />
                <img src="http://ichef.bbci.co.uk/news/624/cpsprodpb/618A/production/_89107942_thursday.jpg" alt="" />
                <img src="http://media2.intoday.in/indiatoday/images/stories//2016JUNE/4_062216123618.jpg" alt="" />
                <img src="https://d.ibtimes.co.uk/en/full/1411781/april-25-2014-masked-pro-russian-protester-sits-chair-he-poses-picture-inside-regional.jpg" alt="" />
                <img src="http://dp.topcovers4fb.com/wp-content/uploads/2015/11/Childhood-Love-Walk-Display-Picture.jpg" alt="" />
            </div>

            <p>Первое предприятие серии — Томский электроламповый завод, когда-то стартовавший выпуском самолетных ламп для фронта,
                а сегодня изготавливающий «лампочку томича».</p>

            <div class="slider">
                <img src="http://i.kinja-img.com/gawker-media/image/upload/y6k2hs8svqdlp9vvewxt.jpg" alt="" />
                <img src="http://ichef.bbci.co.uk/news/624/cpsprodpb/618A/production/_89107942_thursday.jpg" alt="" />
                <img src="http://media2.intoday.in/indiatoday/images/stories//2016JUNE/4_062216123618.jpg" alt="" />
                <img src="https://d.ibtimes.co.uk/en/full/1411781/april-25-2014-masked-pro-russian-protester-sits-chair-he-poses-picture-inside-regional.jpg" alt="" />
                <img src="http://dp.topcovers4fb.com/wp-content/uploads/2015/11/Childhood-Love-Walk-Display-Picture.jpg" alt="" />
            </div>

            <p>Первое предприятие серии — Томский электроламповый завод, когда-то стартовавший выпуском самолетных ламп для фронта,
                а сегодня изготавливающий «лампочку томича».</p>

            <%- include('./new/header-flora') %>

            <p>Сейчас из первопроходцев, которые строили завод и работали на нем в годы войны, осталось в живых 15 человек.
                У одной из них, Марии Антоновны Мельниковой, отработавшей на заводе более 40 лет,
                мы побывали в гостях и записали рассказ о том далеком времени, когда «Лампочка» была еще молодой.</p>

            <%- include('./new/fact') %>

            <p>
              Днем мы по 6 часов учились в ФЗУ. У нас была военная подготовка: политзанятия, строевая, и медицине обучали.
              А еще по шесть часов работали на заводе. Мы старые лампы ремонтировали: прокалывали их, мыли, сушили, вдевали новые спирали.
              Работа тяжелая. Летом жарко, дышать нечем.</p>
            <p>— У нас в планах уже есть небольшой проект под условным названием «Город мастеров».
                Чтобы прямо на глазах у покупателей мастера делали сувениры из стекла, чтобы люди и сами могли попробовать себя в роли стеклодувов,
                или приобрести понравившуюся вещь. У нас для этого есть и помещение с отдельным входом, и небольшая стекловаренная печь.
                Сами не потянем: не хватит ни средств, ни ресурсов. Но если появится предприимчивый, трезвый человек,
                готовый воплотить эту идею в жизнь, мы готовы участвовать.</p>

            <%- include('./new/reference') %>

            <p>Первое предприятие серии — Томский электроламповый завод, когда-то стартовавший выпуском самолетных ламп для фронта,
                    а сегодня изготавливающий «лампочку томича».</p>

            <p>Днем рождения Томского электролампового завода считается 15 декабря 1941,
              когда здесь была выпущена первая партия самолетных ламп.</p>

            <%- include('./new/quote') %>
            <p>В советское время это было крупное промышленное предприятие, занимавшее целый квартал.
              Здесь выпускали около ста наименований ламп накаливания — от ламп для рыболовецких траулеров до елочных гирлянд.
              Все было, как у других крупных предприятий того времени: надежность, стабильность, социальная защищенность.</p>

            <%- include('./new/incut') %>

            <p>Тут Голубев вспоминает про Мурано — известный итальянский остров, населенный стеклодувами,
              куда не скудеет поток туристов:</p>
            <img src="images/lamps.jpg" alt="" />
            <p>— У нас в планах уже есть небольшой проект под условным названием «Город мастеров».
              Чтобы прямо на глазах у покупателей мастера делали сувениры из стекла, чтобы люди и сами могли попробовать себя в роли стеклодувов,
              или приобрести понравившуюся вещь. У нас для этого есть и помещение с отдельным входом, и небольшая стекловаренная печь.
              Сами не потянем: не хватит ни средств, ни ресурсов. Но если появится предприимчивый, трезвый человек,
              готовый воплотить эту идею в жизнь, мы готовы участвовать.</p>

            <%- include('./legacy/expert') %>

    </article>

</div>

<div class="article-feedback-container">
  <div class="wrapper clearfix">
        <%- include('./social-buttons', {
          addClass: "social-button-container_inline-block"
        }) %>
        <%- include('../common/subscribe-form', {
            addClass: "subscribe-form_light subscribe-form_inline-block"
        }) %>
  </div>
</div>

<div class="wrapper">
  <div class="article-news-block">
    <div class="divider-hat"></div>
    <div class="news-item-wrapper clearfix slider-news">
      <% for (var i=0; i<2; i++) { %>
          <%- include('../common/news-item') %>
          <%- include('../common/news-item_special') %>
          <%- include('../common/news-item_no-photo_special') %>
          <%- include('../common/news-item_special') %>
      <% } %>
    </div>
    <div class="divider-moustache"></div>
  </div>
</div>


<div class="wrapper clearfix">
  <div class="article__comments-container">
    <!-- <div class="article-news-panel article-news-panel_bottom"> -->
    <div class="aside aside_bottom">
      <p style="font-weight: bold">Самые обсуждаемые:</p>
      <a href="">Посмотри! 6 каменных памятников архитектуры, которые мы теряем</a>
      <div class="divider-flora"></div>
      <a href="">Посмотри! 6 каменных памятников архитектуры, которые мы теряем</a>
      <div class="divider-flora"></div>
      <a href="">Посмотри! 6 каменных памятников архитектуры, которые мы теряем</a>
    </div>
    <div class="article__comments-widget">
        Сюда нужно поместить комментарии
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        Блок автоматически растягивается
    </div>
  </div>
</div>
